<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.it.survivecoding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".coffeeApp.MainActivity"></activity>
        <activity android:name=".IntentTest.IntentExamActivity"></activity>
        <activity android:name=".IntentTest.IntentExam2Activity" />
        <activity android:name=".WeatherApp.WebBrowserActivity"></activity>
        <activity android:name=".WeatherApp.WeatherActivity" />
        <activity android:name=".MemoApp.MemoActivity" />
        <activity android:name=".MemoApp.EditMemoActivity" />
        <activity android:name=".managers.BankActivity" />
        <activity android:name=".managers.BankRegisterActivity" />
        <activity android:name=".managers.BankLoginActivity" />
        <activity android:name=".managers.AdminModeActivity" />
        <activity android:name=".lifecycle.LifeCycleActivity" />
        <activity android:name=".ColorFragmentActivity" />
        <activity android:name=".ListViewExamActivity" />
        <activity android:name=".FragmentExam1Activity" />
        <activity android:name=".admob.AdMobActivity" />
        <activity android:name=".ImageFragmentActivity" />
        <activity android:name=".ViewPagerActivity"></activity>
    </application>

</manifest>